* {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

.header_top {
  background-color: #7c9c37;
}

.header_top .header_top--displayflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_top .header_top_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_top form {
  position: relative;
  width: 175px;
  height: 26px;
}

.header_top form input[type="text"] {
  border-radius: 15px;
  border: none;
  background-color: #e1e1e1;
  height: inherit;
  width: inherit;
}

.header_top form a {
  position: absolute;
  top: 3px;
  right: 4px;
  background-color: black;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  display: inline-block;
}

.header_top form a .fa-search {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 13px;
  height: 12px;
}

.main_header_area {
  background: #333;
  border-bottom: 4px solid #7c9c37;
}

.main_header_area .main_header---displayflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_header_area .main_logo {
  padding: 20px 0;
}

.main_header_area .main_logo span {
  color: #fff;
  display: block;
  font-size: 12px;
}

.main_header_area .nav {
  margin-top: 25px;
}

.main_header_area .nav ul li {
  position: relative;
  display: inline-block;
  padding: 0 15px;
}

.main_header_area .nav ul li a {
  font-size: 14px;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main_header_area .nav ul li a:hover {
  color: #7c9c37;
}

.main_header_area .nav ul li span {
  display: block;
  color: #fff;
  font-size: 12px;
}

.main_header_area .nav ul li::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 35px;
  background-color: #fff;
  top: 7px;
  left: -2px;
}

.main_header_area .nav ul li:first-child::after {
  display: none;
}

.banner_area img {
  width: 100%;
  height: 500px;
}

.banner_text {
  margin: 30px 0;
}

.banner_text h3 {
  text-align: center;
}

.banner_bottom {
  width: 850px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.banner_bottom img {
  height: 3px;
}

.banner_small_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.banner_card {
  width: 225px;
}

.banner_card img {
  width: 225px;
  height: 140px;
}

.banner_card_text {
  background-color: #f0f0f0;
}

.banner_card_text h4 {
  color: #7c9c37;
  padding: 10px;
  font-size: 18px;
  margin: 0;
}

.banner_card_text p {
  padding: 10px;
}

.portfolio {
  margin: 10px 0;
  padding: 10px 0;
}

.porrtfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.porrtfolio__left {
  width: 50%;
}

.porrtfolio__right {
  width: 50%;
}

.portfolio__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__information h3 {
  display: inline-block;
}

.portfolio__information a {
  margin-left: auto;
  color: #7c9c37;
  margin-top: 15px;
}

.porrtfolio__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.porrtfolio__flex img {
  width: 48px;
  height: 48px;
}

.porrtfolio__flex .portfolio__text h4 {
  font-size: 16px;
  color: #7c9c37;
}

.porrtfolio__left__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 48% 48%;
      grid-template-columns: 48% 48%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 20px;
}

.porrtfolio__right__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.porrtfolio__right__bottom a {
  color: #7c9c37;
}

.footer {
  background-color: #222222;
  overflow: hidden;
}

.footer h3 {
  color: #666666;
  font-size: 18px;
  text-transform: uppercase;
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding: 40px 0;
}

.footer__aboutus {
  width: 285px;
}

.footer__aboutus img {
  border: 1px solid #666666;
  padding: 3px;
}

.footer__aboutus p {
  color: #666666;
}

.footer__aboutus a {
  color: #7c9c37;
}

.footer__linkblock {
  width: 285px;
}

.footer__linkblock hr {
  background-color: #666666;
  margin: 3px 0;
}

.footer__linkblock a {
  color: #7c9c37;
}

.footer__blog {
  width: 285px;
  color: #666666;
}

.footer__blog a {
  color: #7c9c37;
}

.footer__contactus {
  width: 285px;
}

.footer__contactus address {
  color: #666666;
}

.footer__contactus address span {
  color: #7c9c37;
}

.footer__contactus form input[type=text], .footer__contactus form input[type=email] {
  background-color: #353535;
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 7px;
  margin-bottom: 10px;
}

.footer__contactus form input[type=submit] {
  background-color: #7c9c37;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: #f1f1f1;
}

.footer_hr {
  background-color: #000;
  margin: 0;
}

.comyright {
  color: #666666;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comyright .cp_right {
  width: 50%;
}

.comyright .cp_left {
  width: 50%;
  text-align: end;
}
/*# sourceMappingURL=style.css.map */