.header_top {
    background-color: $primary_color;
    .header_top--displayflex {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        align-items: center;
    }
    .header_top_left {
        display: flex;
        column-gap: 20px;
        align-items: center;
    }
    form {
        position: relative;
        width: 175px;
        height: 26px;
        input[type = "text"] {
            border-radius: 15px;
            border: none;
            background-color: #e1e1e1;
            height: inherit;
            width: inherit;
        }   
        a {
            position: absolute;
            top: 3px;
            right: 4px;
            background-color: black;
            border-radius: 50%;
            width: 21px;
            height: 21px;
            display: inline-block;
            .fa-search {
                color: #ffffff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 13px;
                height: 12px;
            }
        }
    }
}

.main_header_area {
    background: #333;
    border-bottom: 4px solid $primary_color;
   
    .main_header---displayflex {
        display: flex;
        justify-content: space-between;
    }
    .main_logo {
        padding: 20px 0;
        span {
            color: #fff;
            display: block;
            font-size: 12px;
        }
    }
    .nav {
        margin-top: 25px;
        ul {
            li {
                position: relative;
                display: inline-block;
                padding: 0 15px;
                a {
                    font-size: 14px;
                    color: #fff;
                    transition: 0.3s;
                    &:hover {
                        color: $primary_color;
                    }
                }
                span {
                    display: block;
                    color: #fff;
                    font-size: 12px;
                }
                &::after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 35px;
                    background-color: #fff;
                    top: 7px;
                    left: -2px;
                }
                &:first-child::after {
                    display: none;
                }
            }
        }
    }
}